{% extends 'user/base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block title %}Panda Cake - Thành công{% endblock %}
{% block content %}
    <style>
        .account .avatar {
            border-right: 1px dashed rgba(0, 0, 0, 0.3);
        }

        .account .content {
            padding-left: 25px;
        }

        .account .tab-content {
            border: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: 5px;
            padding: 30px;
        }

        .account p {
            font-weight: 600;
            font-size: 18px;
            text-align: justify;
            margin: 10px 0;
        }

        .account p span {
            font-weight: 400;
        }

        .account .button-function {
            margin-top: 30px;
        }

        .account label {
            font-size: 20px;
        }

        .account .gioitinh {
            margin-right: 20px;
        }

        .account .tab-lable {
            font-size: 18px;
            font-weight: 500;
        }

        .account .list-group-item.active {
            background-color: #f379a7;
            border-color: #f379a7;
        }

        .account .input-text input {
            width: 100%;
            padding: 10px;
            outline-color: #f379a7;
            border: 2px solid rgba(0, 0, 0, 0.3);
            border-radius: 5px;
        }

        .account .coldk {
            padding-right: 40px !important;
        }
    </style>
    <section style="background-color: black;">
        <div class="container" style="height: 160px;">
            <div><img src="" alt=""></div>
            <h1 style="font-weight: 700; color: #fff; text-align: center; margin-top: 40px">THANH TOÁN</h1>
        </div>
    </section>

    <div id="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="" class="not-active">Home</a></li>
                <span class="kitu"> / </span>
                <li class="active"><span>Thanh toán</span></li>
            </ol>
        </div>
    </div>

    <!--== Start Checkout Area Wrapper ==-->
    <section class="product-area shop-checkout-area account mb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="billing-info-wrap">
                        <h3>Thông tin đơn hàng</h3>
                        <div class="row">
                            <div class="col coldk">
                                <div class="input-text">
                                    <p>Họ tên:</p>
                                    <span>{{ dh.dh_hoten }}</span>
                                </div>
                                <div class="input-text">
                                    <p>Số điện thoại:</p>
                                    <span>{{ dh.dh_sdt }}</span>
                                </div>
                                <div class="input-text">
                                    <p>Địa chỉ:</p>
                                    <span>{{ dh.dh_diachi }}</span>
                                </div>
                                <div class="input-text">
                                    <p>Email:</p>
                                    <span>{{ dh.dh_email }}</span>
                                </div>
                                <div class="input-text">
                                    <p>Ngày đặt hàng:</p>
                                    <span>{{ dh.dh_thoigian | date:"H:i-d-m-Y" }}</span>
                                </div>
                                <div class="input-text">
                                    <p>Trạng thái:</p>
                                    <span>
                                        {% if dh.dh_trangthai == '0' %}
                                            Chưa xác nhận
                                        {% elif dh.dh_trangthai == '1' %}
                                            Đã hủy
                                        {% elif dh.dh_trangthai == '2' %}
                                            Đã xác nhận
                                        {% elif dh.dh_trangthai == '3' %}
                                            Đang giao hàng
                                        {% elif dh.dh_trangthai == '4' %}
                                            Đã hoàn thành
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="your-order-area">
                        <h3>Đơn hàng</h3>
                        <div class="your-order-wrap">
                            <div class="your-order-info-wrap">
                                <div class="your-order-title">
                                    <h4>Sản phẩm <span>Số tiền hàng</span></h4>
                                </div>
                                <div class="your-order-product">
                                    <ul>
                                        {% for item in ctdh %}
                                            <li>{{ item.ctdh_tensp }} x {{ item.ctdh_soluong }}
                                                <span>
                                                        {{ item.ctdh_gia | mul:item.ctdh_soluong }}đ
                                                    </span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="your-order-subtotal">
                                    <h3>Tổng số tiền hàng
                                        <span>{{ dh.dh_tienhang | floatformat:0 | intcomma }}đ</span>
                                    </h3>
                                </div>
                                <div class="your-order-subtotal">
                                    <h3>Ship <span>{{ dh.dh_ship | floatformat:0 | intcomma }}đ</span></h3>
                                    <h3 style="margin-top: 10px;">Giảm giá
                                        <span>{{ dh.dh_giamgia | floatformat:0 | intcomma }}đ</span></h3>
                                </div>
                                <div class="your-order-total">
                                    <h3>Tổng thanh toán
                                        <span>{{ dh.dh_tongtien | floatformat:0 | intcomma }}đ</span>
                                    </h3>
                                </div>
                            </div>
                            <div class="payment-method">
                                <h3>Phương thức thanh toán</h3>
                                <span>{% if dh.dh_thanhtoan == '0' %}Thanh toán khi nhận
                                    hàng{% elif dh.dh_thanhtoan == '1' %}
                                    Thanh toán online{% endif %}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}