{% extends 'admin/base.html' %}

{% block title %}Quản trị - Sản phẩm{% endblock %}

{% block content %}
<div class="main">
        <div class="main-header">
            <div class="mobile-toggle" id="mobile-toggle">
                <i class='bx bx-menu-alt-left'></i>
            </div>
            <div class="main-title">
                Sản phẩm
            </div>
        </div>
        <div class="main-content add_tindang">
            <div class="row">
                <div class="col-12">
                    <form action="{% url 'themsanpham' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="box">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="button-action">
                                        <button type="menu" onclick="location.href='{% url 'xemsanpham' %}'">
                                            Hủy bỏ
                                        </button>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div style="float: right;" class="button-action">
                                        <button type="reset">Nhập lại</button>
                                        <button type="submit" id="btn_ok">
                                            <!-- <span><i class='bx bx-check'></i></span> -->
                                            Xác nhận
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box" style="margin-top: 20px;">
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <div class="div_input_text">
                                        <p>Tên sản phẩm:</p>
                                        <input type="text" name="ten" id="" class="input_text" required>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="div_input_text">
                                        <p>Giá:</p>
                                        <input type="text" name="gia" id="" class="input_text" required pattern="[0-9]+">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="div_input_text">
                                        <p>Size:</p>
                                        <input type="text" name="size" id="" class="input_text" required>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="div_input_text">
                                        <p>Vị:</p>
                                        <input type="text" name="vi" id="" class="input_text" required>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="div_input_text">
                                        <p>Số lượng:</p>
                                        <input type="number" name="soluong" id="" class="input_text" required min=0 max="1000">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="div_input_text">
                                        <p>Danh mục:</p>
                                        <select style="color: rgba(0, 0, 0, 0.8);" name="danhmuc" id="" required>
                                            <option disabled selected>Chọn danh mục</option>
                                            {% for item in dm %}
                                                <option value="{{ item.danhmuc_id }}">{{ item.danhmuc_ten }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 div_col_input_hinhanh">
                                    <div class="div_input_text">
                                        <p>Hình ảnh:</p>
                                        <div>
                                            <input type="file" name="image" class="input_image">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="div_input_text">
                                        <p>Mô tả:</p>
                                        <textarea name="mota" id="" style="width: 100%; height: 400px;" required></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}