{% load static %}
{% load humanize %}
<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-5">
                    <div class="header-info-left">
                        <p>Free Returns and Free Shipping</p>
                    </div>
                </div>
                <div class="col-md-12 col-lg-7 sm-pl-0 xs-pl-15 header-top-right">
                    <div class="header-info">
                        <a href="tel://+00123456789"><i class='bx bx-phone'></i> 0123456789</a>
                        <a href="mailto://demo@example.com"><i class='bx bx-mail-send'></i> cakenn@gmail.com</a>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'cttk' %}"><i class='bx bx-user-circle'></i> {{ request.user.username }}</a>
                        {% else %}
                            <a href="{% url 'taikhoan' %}"><i class='bx bx-user-circle'></i> Tài khoản</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="header-align">
                        <div class="header-align-left">
                            <div class="header-logo-area">
                                <a href="{% url 'trangchu' %}">
                                    <img class="logo-main" src="{% static 'img/logo.png' %}" alt="Logo"/>
                                </a>
                            </div>
                        </div>
                        <div class="header-align-center">
                            <div class="header-search-box">
                                <form action="{% url 'timkiem' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-input-item">
                                        <label for="search" class="sr-only">Tìm kiếm</label>
                                        <input type="text" id="search" name="key_search" placeholder="Tìm kiếm">
                                        <button type="submit" class="btn-src">
                                            <i class='bx bx-search'></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="header-align-right">
                            <div class="header-action-area">
                                <div class="header-action-search d-md-none">
                                    <button class="btn-chat" onclick="window.location.href='{% url 'timkiem' %}'">
                                        <i class='bx bx-search'></i>
                                    </button>
                                </div>
                                <div class="header-action-chat">
                                    <button class="btn-chat" onclick="window.location.href='{% url 'chat' %}'">
                                        <i class='bx bx-message-dots'></i>
                                    </button>
                                </div>
                                <div class="header-action-cart">
                                    <button class="btn-cart cart-icon"
                                            onclick="window.location.href='{% url 'giohang' %}'">
                                        <span class="cart-count">{{ slsp }}</span>
                                        <i class='bx bx-shopping-bag'></i>
                                    </button>
                                </div>
                                <button class="btn-menu d-md-none" onclick="OpenMenu('menu-mobile')">
                                    <i class='bx bx-menu'></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-area header-default sticky-header">
        <div class="container">
            <div class="row row-gutter-0 align-items-center">
                <div class="col-lg-12 sticky-md-none">
                    <div class="header-navigation-area">
                        <ul class="main-menu nav position-relative" id="menu-mobile">
                            <li><a href="{% url 'trangchu' %}">Trang chủ</a></li>
                            <li class="has-submenu"><a href="{% url 'sanpham' 0 %}">Sản phẩm<i
                                    class='bx bx-chevron-down'
                                    id="chevron-down"></i></a>
                                <ul class="submenu-nav" style="list-style: none">
                                    {% for item in nav %}
                                        <li><a href="{% url 'sanpham' item.danhmuc_id %}">{{ item.danhmuc_ten }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% if request.user.is_staff %}<li><a href="{% url 'admin' %}">Quản trị</a></li>{% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-bg-top"></div>
</header>